<!-- Available instance variables :
      @bookings = all bookings for the current_user
      @pending = all pending bookings for the current_user
      @confirmed = all confirmed bookings for the current_user
      @rejected = all rejected bookings for the current_user


<h1>Bookings</h1>-->
<div class="container">
<!-- Checks if a user doesn't have any bookings -->
<% if @bookings.size.zero? %>
  <h3>You don't have any bookings yet!</h3>
<% end %>

<!-- Display the pending bookings
<% if @pending.size.positive? %>
  <h3>Pending bookings:</h3>
  <% @pending.each do |booking| %>
  <div class="row">
    <div class="col-xs-4">
    <p><%= cl_image_tag(booking.animal.photo, :alt => "animal photo") %></p>
  </div>
  <div class="animal-card-title">
    <div class="col-xs-4">
    <span>Animal: <%= booking.animal.name %></span>
  </div>
  <div class="col-xs-4">
    <div class="row">
      <span>Start_date: <%= booking.start_date.strftime("%A, %b %d") %></span>
    </div>
    <div class="row">
      <span>End_Date: <%= booking.end_date.strftime("%A, %b %d") %></span>
    </div>
  </div>
  <div class="col-xs-4">
    <p>Content: <%= booking.content %></p>
  </div>
</div>
    <%= link_to "Edit", animal_path(booking.animal) %>
    <%= link_to "Cancel this booking", booking_path(booking),
        method: :delete,
        data: { confirm: "Are you sure you want to cancel this booking?" } %>
    <br>
  </div>
  <% end %>
<% end %>-->

<!-- Display the confirmed bookings -->
<% if @confirmed.size.positive? %>
  <h3>Confirmed bookings:</h3>
  <% @confirmed.each do |booking| %>
    <span>Animal: <%= booking.animal.name %></span>
    <span>Start_date: <%= booking.start_date %></span>
    <span>End_Date: <%= booking.end_date %></span>
    <p>Content: <%= booking.content %></p>
    <br>
  <% end %>
<% end %>

<!-- Display the rejected bookings -->
<% if @rejected.size.positive? %>
  <h3>Rejected bookings:</h3>
  <% @rejected.each do |booking| %>
    <span>Animal: <%= booking.animal.name %></span>
    <span>Start_date: <%= booking.start_date %></span>
    <span>End_Date: <%= booking.end_date %></span>
    <p>Content: <%= booking.content %></p>
    <br>
  <% end %>
<% end %>
</div>
<!-- ################################ -->


<br>
<br>
<br>

<div class="panel panel-default">
<% @pending.each do |booking| %>
  <div class="container">
    <div class="row">
      <div class="panel-heading">
        <h4 class="panel-title"><%= booking.animal.name %></h4>
      </div>
      <div class="panel-body">
        <div class="col-xs-3">
          <p><%= cl_image_tag(booking.animal.photo, :alt => "animal photo", width: 250) %></p>
        </div>
        <div class="col-xs-7">
          <h5 class="card-title"><%= booking.animal.species %></h5>
          <p class="card-text"> From: <%= booking.start_date.strftime("%A, %b %d") %></p>
          <p class="card-text">To: <%= booking.end_date.strftime("%A, %b %d") %></p>
          <%= link_to "Edit", animal_path(booking.animal) %>
          <%= link_to "Cancel this booking", booking_path(booking),
          method: :delete,
          data: { confirm: "Are you sure you want to cancel this booking?" } %>
        </div>
      </div>
      </div>
  </div>
<% end %>

</div>


<% @pending.each do |booking| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= cl_image_tag(booking.animal.photo, :alt => "animal photo", width: 250) %>
          <div class="caption">
            <h3><%= booking.animal.species %></h3>
             <h5 class="card-title"><%= booking.animal.species %></h5>
            <p class="card-text"> From: <%= booking.start_date.strftime("%A, %b %d") %></p>
            <p class="card-text">To: <%= booking.end_date.strftime("%A, %b %d") %></p>
            <span class="add-btn"> <%= link_to "Edit", animal_path(booking.animal) %></span>
            <%= link_to "Cancel this booking", booking_path(booking),
            method: :delete,
            data: { confirm: "Are you sure you want to cancel this booking?" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



