<div class="wrapper">
  <div class="col-xs-10 col-sm-18">
      <% bookings.each do |booking| %>
    <div class="row">
    <div class="message">
        <%= cl_image_tag(booking.animal.photo, :alt => 'animal photo', class: "avatar-large")%>
        <div class="message-name">
          <h3><strong>Co-star: <br> <%= booking.animal.name %></strong></h3>
          <p><span>From: <%= booking.start_date.strftime("%A, %b %d") %></span></p>
          <p><span>To: <%= booking.end_date.strftime("%A, %b %d") %></span></p>
        </div>
        <div class="message-body">
          <p>Message: <%= booking.content %></p>
        </div>
        <div class="message-status">
         <% if booking.confirmed %>
                <p class="status accepted">Accepted</p>
          <% elsif booking.confirmed == false %>
                <p class="status declined">Declined</p>
          <% else %>
                <p class="status pending">Pending</p>
          <% end %>
          <p class="price"><%= booking.animal.price %>$</p>
        </div>

         <% if booking.confirmed.nil? %>
          <% if booking.animal.user == current_user %>
           <%= link_to "Approve", booking_respond_path(booking, confirmed: true),
                method: :post,
                data: { confirm: "Are you sure you want to approved this booking?" } %>
          <%= link_to "Decline", booking_respond_path(booking, confirmed: false),
                method: :post,
                data: { confirm: "Are you sure you want to decline this booking?" } %>
          <% else %>
            <%= link_to "Edit", animal_path(booking.animal) %>
            <%= link_to "Cancel this booking", booking_path(booking),
                method: :delete,
                data: { confirm: "Are you sure you want to cancel this booking?" } %>
            <% end %>
          <% end %>
          <br>
        </div>
      </div>
    </div>
  </div>
      <% end %>
</div>




