<%= simple_form_for(@animal) do |f| %>
  <%= f.input :name, class: 'form-control' %>
  <%= f.input :species, class: 'form-control' %>
  <%= f.input :photo, class: 'form-control' %>
  <img src="" height="200" id="img-preview">
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :description, class: 'form-control' %>
  <%= f.input :price, class: 'form-control' %>

  <div class="mt-3">
    <%= f.submit class: 'add-btn' %>
  </div>
<% end %>
