<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<div class="wrapper">
        <div class="header-wrap">
          <div class="header">
            <div class="header-inside">
            </div>
          </div>
        </div>

        <div class="header-info">
          <h1 id="main_title"><strong>Rent a Co</strong></h1>
           <h2 id="main_tagline">Find your Co star today!</h2>
            <div class="action">
              <input type="text" name="search" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome">
            </div>
          </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page_header">All our Animals</h1>
      </div>
      <div class="col-md-9 sub_txt">
        <p>There are <strong><%= @animals.count %></strong> animals to choose from!</p>
      </div>
    </div>

    <div class="row">
        <% @animals.each_with_index do |animal, index| %>
          <div class="col-xs-4">
            <div class="hideme">
              <div class="animal-card">
                <div class="animal-card-image"><%= cl_image_tag(animal.photo, :alt => "animal photo") %></div>
                <div class="animal-card-content">
                  <div class="animal-card-title">
                    <h4><%= animal.name %></h4>
                  </div>
                  <p><%= animal.species %></p>
                  <div class="flex">
                    <div class="flex ml-3">
                      <i class="material-icons mr-2">$ <%= animal.price %> </i>
                    </div>
                  </div>
                </div>
                <div class="animal-card-actions">
                  <%= link_to 'Book Now', animal_path(animal[:id]), class: 'add-btn'%>
                </div>
               </div>
             </div>
           </div>
        <% end %>
    </div>
  </div>
</div>




<!--
<div class="wrapper">
  <div class="header-wrap">
    <div class="header">
      <div class="header-inside">
        <div class="header-info">
          <h1>Rent a Co</h1>
          <p>Get your Co star today!</p>
          <div class="action">
             <input type="text" name="search" placeholder="Search">
          </div>
        </div>
      </div>
    </div>
  </div>


-->
