<!-- what we need to do on this page

1 -list all animals in <div class="card"></div>div> (code located in assets/stylesheets/_card.scss)
2 -each card should contain a button that redirects to a animals/:id  -->
<%= render "shared/navbar"%>



<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Animals</h1>
    </div>


    <div class="col-12">
      <p>We have <%= @animals.count %> animals on our website.</p>
    </div>

    </div>


  <div class="row">

    <% @animals.each do |animal| %>
    <div class="col-xs-4">
        <div class="animal-card">
          <div class="animal-card-image"><%= image_tag(animal.photo, :alt => "animal photo") %></div>
          <div class="animal-card-content">
            <div class="animal-card-title">
              <h4><%= animal.name %></h4>
            </div>
            <p><%= animal.species %></p>
            <div class="flex">
              <div class="flex ml-3">
                <i class="material-icons mr-2">$ <%= animal.price %> </i>
              </div>
            </div>
          </div>
          <div class="animal-card-actions">
            <%= link_to 'Book Now', animal_path(animal[:id]), class: 'add-btn'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- <div class="main-container">
  <div>
    <% @animals.each do |animal| %>
      <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h5 class="card-title"><%= animal.name %></h5>
            <%= image_tag(animal.photo, :alt => "animal photo") %>
            <img  <%= animal.photo %></h5>
            <h6 class="card-text"><strong><%= animal.species %></strong></h6>
            <p class="card-text"><%= animal.description %></p>
            <%= link_to 'Book Now', animal_path(animal[:id]), class: 'btn btn-primary'%>
          </div>
      </div>
    <%end%>
  </div>
</div>
 -->
