<!-- what we need to do on this page

1 -list all animals in <div class="card"></div>div> (code located in assets/stylesheets/_card.scss)
2 -each card should contain a button that redirects to a animals/:id  -->
<div class="main-container">
  <div>
    <% @animals.each do |animal| %>
      <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h5 class="card-title"><%= animal.name %></h5>
            <%= image_tag(animal.photo, :alt => "animal photo") %>
            <img  <%= animal.photo %></h5>
            <h6 class="card-text"><strong><%= animal.species %></strong></h6>
            <p class="card-text"><%= animal.description %></p>
            <%= link_to 'Book Now', animal_path(animal[:id]), class: 'btn btn-primary'%>
          </div>
      </div>
    <%end%>
  </div>
</div>
