<div class="wrapper">
        <div class="header-wrap">
          <div class="header">
            <div class="header-inside">
            </div>
          </div>
        </div>

        <div class="header-info">
          <h1 id="main_title">Rent a Co</h1>
           <h2>Get your Co star today!</h2>
            <div class="action">
              <input type="text" name="search" placeholder="Search">
            </div>
          </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page_header">All our Animals</h1>
      </div>
      <div class="col-md-9 sub_txt">
        <p>There are <strong><%= @animals.count %></strong> animals to choose from!</p>
      </div>
    </div>

    <div class="row">
        <% @animals.each_with_index do |animal, index| %>
          <div class="col-xs-4">
            <div class="hideme">
              <div class="animal-card">
                <div class="animal-card-image"><%= cl_image_tag(animal.photo, :alt => "animal photo") %></div>
                <div class="animal-card-content">
                  <div class="animal-card-title">
                    <h4><%= animal.name %></h4>
                  </div>
                  <p><%= animal.species %></p>
                  <div class="flex">
                    <div class="flex ml-3">
                      <i class="material-icons mr-2">$ <%= animal.price %> </i>
                    </div>
                  </div>
                </div>
                <div class="animal-card-actions">
                  <% if animal.user == current_user %>
                    <%= link_to edit_animal_path(animal) do %>
                      <i class="fas fa-pencil-alt"></i>
                    <% end %>
                    <%= link_to animal_path(animal), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  <% else %>
                    <%= link_to 'Book Now', animal_path(animal[:id]), class: 'add-btn'%>
                  <% end %>
                </div>
               </div>
             </div>
           </div>
        <% end %>
    </div>
  </div>
</div>




<!--
<div class="wrapper">
  <div class="header-wrap">
    <div class="header">
      <div class="header-inside">
        <div class="header-info">
          <h1>Rent a Co</h1>
          <p>Get your Co star today!</p>
          <div class="action">
             <input type="text" name="search" placeholder="Search">
          </div>
        </div>
      </div>
    </div>
  </div>


-->
