<!-- Pseudo code:

1- add div grid layout for pictures of animal
2- add name/type/description in that order (reviews eventually)
2- add div for containing Price/calendar (from...to...)/message/BOOK button that redirects to confirm booking page
 -->

 <div class="map" style="background-image: url('<%= cl_image_path @animal.photo %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="animal-show-card">
        <%= cl_image_tag(@animal.photo, :alt => "animal photo") %>
        <h1><%= @animal.name %></h1>
      </div>
      <div class="animal-show-card">
        <h3>A bit more about this animal...</h3>
        <p><%= @animal.description %></p>
    </div>

    <div class="col-4">
      <div class="animal-show-card">
        <h5>Book this animal!</h5>

        <%= simple_form_for [@animal, @booking] do |f| %>
          <%= f.input :start_date, :as => :date, :order => [:day, :month, :year] %>
          <%= f.input :end_date, :as => :date, :order => [:day, :month, :year] %>
          <%= f.button :button, "Book", type: :submit, class: "add-btn" %>
        <% end %>


      </div>
      <div class="animal-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex ml-3">
            <i class="material-icons mr-2">Dollar_symbol</i> <%= @animal.price %>
          </div>
        </div>
      </div>
      <div class="animal-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa fa-facebook-square fa-2x mr-2"></i>
            <i class="fa fa-twitter-square fa-2x mr-2"></i>
            <i class="fa fa-pinterest-square fa-2x mr-2"></i>
            <i class="fa fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a class="trigger_popup_fricc">Click here to show the popup</a>

<div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">X</div>
        <p>Add any HTML content<br />inside the popup box!</p>
    </div>
</div>
