<!-- Pseudo code:

1- add div grid layout for pictures of animal
2- add name/type/description in that order (reviews eventually)
2- add div for containing Price/calendar (from...to...)/message/BOOK button that redirects to confirm booking page
 -->

 <div class="map" style="background-image: url('<%= @animal.photo %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="animal-show-card">
        <%= image_tag(@animal.photo, :alt => "animal photo") %>
        <h1><%= @animal.name %></h1>
      </div>
      <div class="animal-show-card">
        <h3>A bit more about this animal...</h3>
        <p><%= @animal.description %></p>
    </div>

    <div class="col-4">
      <div class="animal-show-card">
        <h5>Book this animal!</h5>

        <form action="/bookings/new">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-addon" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="19/02/2019" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>
      <div class="animal-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex ml-3">
            <i class="material-icons mr-2">Dollar_symbol</i> <%= @animal.price %>
          </div>
        </div>
      </div>
      <div class="animal-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa fa-facebook-square fa-2x mr-2"></i>
            <i class="fa fa-twitter-square fa-2x mr-2"></i>
            <i class="fa fa-pinterest-square fa-2x mr-2"></i>
            <i class="fa fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
