<div class="main-container">
  <div id="backgroundpic" class="map" style="background-image: url('<%= cl_image_path @animal.photo %>')">

  <div class="fixbackground info_card">
    <div class="container">
      <div class="animal-show-card">
        <div class="row">
          <div class="col-md-5">
            <%= cl_image_tag(@animal.photo, :alt => "animal photo") %>
            <h1><strong><%= @animal.name %></strong></h1>
          </div>
          <div class="col-md-7">
            <h3>Get to know <%= @animal.name %></h3>
            <p><%= @animal.description %></p>
            <h4><strong>Price: </strong>  <%= @animal.price %><i class="material-icons mr-2">$</i></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixbackground form_card">
     <div class="container">
    <div class="col-4">
      <div class="animal-show-card">
        <% if user_signed_in? %>
          <% if @animal.user == current_user %>
            <% if @bookings.size.zero? %>
              <h3><%= @animal.name %>'s has no pending request yet.</h3>
            <% else %>
              <h3><%= @animal.name %>'s pending requests:</h3>
              <%= render partial: "shared/booking_card", locals: { bookings: @bookings } %>
            <% end %>
          <% else %>
            <h5>Book this animal!</h5>
            <%= render partial: "shared/booking_form", locals: { animal: @animal, booking: @booking } %>
          <% end %>
        <% else %>
          <h3>Login or sign up to book <%= @animal.name %>!</h3>
        <% end %>
        </div>
      </div>

      <div class="fixbackground form_card">
        <div class="container">
          <div class="col-4">
            <div class="animal-show-card">
              <h3><%= @reviews.size.positive? ? "Here's what others thought of #{@animal.name}:" : "Be the first to rate #{@animal.name}!"%></h3>
              <%= render partial: "shared/review_card", locals: { reviews: @reviews, animal: @animal, } %>
            </div>
            <div>
              <% if user_signed_in? %>
                <% unless @animal.user == current_user %>
                  <%= render partial: "shared/review_form", locals: { animal: @animal, review: @review } %>
                <% end %>
              <% else %>
                <h3>Login or sign up to leave a review</h3>
              <% end %>

            </div>
          </div>

      <div class="animal-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa fa-facebook-square fa-2x mr-2"></i>
            <i class="fa fa-twitter-square fa-2x mr-2"></i>
            <i class="fa fa-pinterest-square fa-2x mr-2"></i>
            <i class="fa fa-envelope-square fa-2x"></i>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle"><strong>Booking Confrimation</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="row">
          <div class="col-md-4 ml-auto">
            <%= cl_image_tag(@animal.photo, :alt => "animal photo", width: 200) %>
          </div>
          <div class="col-md-6 ml-auto" style="margin-left:30px;" >
            <h2><%= @animal.name %></h2>
            <h3><%= @animal.species %></h3>
          </div>
        </div>
          <h5><h4><strong>About: </strong></h4> <%= @animal.description %></h5>
          <h5><strong>From: </strong><div id="startDate"></div></h5>
          <h5><strong>To: </strong><div id="endDate"></h5>
          <h5><strong>Price: </strong> <%= @animal.price %> $</h5>
      </div>

      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>-->
        <button id="submit" type="button" class="add-btn">Confirm</button>
      </div>
  </div>
</div>
