<div class="main-container">
  <div id="backgroundpic" class="map" style="background-image: url('<%= cl_image_path @animal.photo %>')">

  <div class="fixbackground info_card">
    <div class="container">
      <div class="animal-show-card">
        <div class="row">
          <div class="col-md-5">
            <%= cl_image_tag(@animal.photo, :alt => "animal photo") %>
            <h1><strong><%= @animal.name %></strong></h1>
          </div>
          <div class="col-md-7">
            <h3>Get to know <%= @animal.name %></h3>
            <p><%= @animal.description %></p>
            <h4><strong>Price: </strong>  <%= @animal.price %><i class="material-icons mr-2">$</i></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixbackground form_card">
     <div class="container">
    <div class="col-4">
      <div class="animal-show-card">
          <h5>Book this animal!</h5>
            <%= simple_form_for [@animal, @booking] do |f| %>
              <%= f.input :start_date, as: :string  %>
              <%= f.input :end_date, as: :string %>
              <%= f.input :content, label: "Message" %>
              <%= f.button :button, "Book", type: :submit, class: "add-btn", data: {confirm: "Are you sure this information is correct?"} %>
            <% end %>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>

